.background-image {
    background-image: url('../images/dummy.jpg');
}

.background-image-2 {
    background-image: url('../images/dummy.jpg');
}

@font-face {
    font-family: "font";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2');
}
